{% extends 'bookstore/base.html' %}
{% load static %}
{% block body %}

    <link rel="stylesheet" href="{% static 'css/allbooks.css' %}" media="screen">

    <script type="text/javascript" src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    <section class="u-clearfix u-section-1">
        <div class="u-clearfix u-sheet u-sheet-1" style="position: relative; top: 30px;">
            <center><h3 style="
  font-size: 1.875rem;
  width: 814px;">Результаты поиска</h3></center>
            <div class="u-align-center u-container-style u-products-item u-repeater-item">
                <div class="card-body">
                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        {% if files %}
                            {% for file in files %}
                                <div class="col">
                                    <div class="card text mb-3 h-100" style="max-width: 250px; height: auto; background: #c3ac81; color: #ffffff">
                                        <a href="{% url 'uvbook' file.pk %}" style="color: #000000; font-weight: bold">
                                            <img alt="{{ file.title}}" class="card-img-top" src="{{ file.cover.url }}" style="width: 247px; height: 270px;">
                                        </a>
                                        <div class="card-body" style="margin: auto; margin-bottom: -20px;">
                                            <h6 class="card-title" style="color: #000000; font-weight: bold">{{ file.title }}</h6>
                                            <p class="card-text" style="color: #000000; font-weight: bold">{{ file.author }}</p>
                                        </div>
                                        {% if user.is_publisher %}
                                            <div class="card-footer">
                                                <a href="{{ file.pdf.url }}" target="_blank" style="border-radius: 5px; margin: auto;" class="u-active-custom-color-9 u-border-2 u-border-active-custom-color-9 u-border-black u-border-hover-custom-color-10 u-btn u-button-style u-hover-custom-color-10 u-text-active-white u-text-hover-white u-white u-btn-1">Читать</a>
                                                <a href="{{ file.pdf.url }}" style="border-radius: 5px; margin: auto; margin-top: 10px;" download class="u-active-custom-color-9 u-border-2 u-border-active-custom-color-9 u-border-black u-border-hover-custom-color-10 u-btn u-button-style u-hover-custom-color-10 u-text-active-white u-text-hover-white u-white u-btn-1">Скачать</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        {%else%}
                            <h3 style="
  font-size: 1.875rem;
  width: 814px;
  margin: 20px auto 0;" id="answer">По данному запросу ничего не найдено</h3>
                            <style type="text/css">
                                {
                                    display: none;
                                }
                            </style>
                        {%endif%}
                    </div>

                    {% if files.has_other_pages %}
                        <ul class="pagination">
                            {% if files.has_previous %}
                                <li class="waves-effect"><a href="?page={{ files.previous_page_number }}
{% if request.GET.query %}&query={{ request.GET.query }}
{% endif %}"><i class="material-icons text-primary">&laquo;</i>
                                </a></li>
                            {% else %}
                                <li class="disabled"><a href="#!">
                                    <i class="material-icons text-primary">&laquo;</i>
                                </a></li>
                            {% endif %}
                            {% for num in files.paginator.page_range %}
                                {% if files.number == num %}
                                    <li class="active"><a href="#!">{{ num }}</a></li>
                                {% else %}
                                    <li class="waves-effect"><a href="?page={{ num }}
{% if request.GET.query %}&query={{ request.GET.query }}
{% endif %}">{{ num }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if files.has_next %}
                                <li class="waves-effect"><a href="?page={{ files.next_page_number }}
{% if request.GET.query %}&query={{ request.GET.query }}
{% endif %}"><i class="material-icons">&raquo;</i>
                                </a></li>
                            {% else %}
                                <li class="disabled"><a href="#!">
                                    <i class="material-icons">&raquo;</i>
                                </a></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block extrascripts %}
    <script type="text/javascript"></script>
{% endblock extrascripts %}