{% extends 'dashboard/base.html' %}
{% load static %}
{% block body %}

    <link rel="stylesheet" href="{% static 'css/addbook.css' %}" media="screen">

    <script type="text/javascript" src="{% static 'js/jquery-2.1.3.min.js' %}"></script>

    <section class="u-clearfix u-section-1">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-text u-text-default-lg u-text-default-md u-text-default-xl u-text-1">Добавить книгу</h2>
            <div class="u-custom-color-11 u-form u-form-1" style="border-radius: 5px;">
                <form action="{% url 'lanews' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="u-clearfix u-form-spacing-20 u-form-vertical u-inner-form" style="padding: 30px;">
                        <div class="u-form-group u-label-top">
                            <label for="title" class="u-label u-label-1">Название</label>
                            <input type="text" style="border-radius: 5px;" id="title" name="title" class="u-input u-input-rectangle u-text-black u-white u-input-1" required="required">
                        </div>
                        <div class="u-form-group u-label-top u-form-group-6">
                            <label for="text" class="u-label u-label-6">Текст публикации</label>
                            <textarea type="text" style="border-radius: 5px;" id="text" name="text" class="u-input u-input-rectangle u-text-black u-white u-input-6" required="required"></textarea>
                        </div>
                        <div class="u-form-group u-label-top u-form-group-7">
                            <label for="cover" class="u-label u-label-7">Обложка</label>
                            <input type="file" id="myFile" name="cover" enctype="multipart/form-data">
                        </div>
                        <div class="u-align-center u-form-group u-form-submit u-label-top">
                            <a style="border-radius: 5px;" class="u-active-custom-color-9 u-border-2 u-border-active-custom-color-9 u-border-grey-80 u-border-hover-custom-color-10 u-btn u-btn-submit u-button-style u-hover-custom-color-10 u-text-active-white u-text-black u-text-hover-white u-white u-btn-1">Добавить</a>
                            <input type="submit" class="u-form-control-hidden">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    
{% endblock %}