{% extends 'dashboard/base.html' %}
{% load static %}
{% block body %}

    <link rel="stylesheet" href="{% static 'css/register.css' %}" media="screen">

    <section class="u-align-center u-clearfix u-section-1">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-text u-text-default-lg u-text-default-md u-text-default-xl u-text-1">Добавить пользователя</h2>
            <div class="u-custom-color-11 u-form u-form-1" style="border-radius: 5px;">
                <form method="POST" action="{% url 'userreg' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="u-clearfix u-form-spacing-20 u-form-vertical u-inner-form" style="padding: 30px;">
                        <div class="u-form-group u-label-top">
                            <label for="username" class="u-label u-label-1">Логин</label>
                            <input type="text" style="border-radius: 5px;" id="username" name="username" class="u-input u-input-rectangle u-text-black u-white u-input-1">
                        </div>
                        <div class="u-form-email u-form-group u-label-top u-form-group-2">
                            <label for="email" class="u-label u-label-2">Email</label>
                            <input type="email" style="border-radius: 5px;" id="email" name="email" class="u-input u-input-rectangle u-text-black u-white u-input-2">
                        </div>
                        <div class="u-form-email u-form-group u-label-top">
                            <label for="last_name" class="u-label u-label-3">Фамилия</label>
                            <input type="text" style="border-radius: 5px;" id="last_name" name="last_name" class="u-input u-input-rectangle u-text-black u-white u-input-3">
                        </div>
                        <div class="u-form-group u-label-top">
                            <label for="first_name" class="u-label u-label-4">Имя</label>
                            <input type="text" style="border-radius: 5px;" id="first_name" name="first_name" class="u-input u-input-rectangle u-text-black u-white u-input-4">
                        </div>
                        <div class="u-form-group u-label-top u-form-group-5">
                            <label for="patronymic" class="u-label u-label-5">Отчество</label>
                            <input type="text" style="border-radius: 5px;" id="patronymic" name="patronymic" class="u-input u-input-rectangle u-text-black u-white u-input-5">
                        </div>
                        <div class="u-form-date u-form-group u-label-top u-form-group-6">
                            <label for="birth_day" class="u-label u-label-6">Дата рождения</label>
                            <input type="text" style="border-radius: 5px;" placeholder="ГГГГ-ММ-ДД" id="birth_day" name="birth_day" class="u-input u-input-rectangle u-text-black u-white u-input-6">
                        </div>
                        <div class="u-form-group u-form-select u-label-top">
                            <label for="userType" class="u-label u-label-7">Группа</label>
                            <div class="u-form-select-wrapper">
                                <select id="userType" style="border-radius: 5px;" name="userType" class="u-input u-input-rectangle u-text-black u-white u-input-7" required="required">
                                    <option selected="{{ choice.2 }}">Выберите группу</option>
                                    <option value="{{ choice.2 }}"> Администратор</option>
                                    <option value="{{ choice.3 }}"> Студент</option>
                                    <option value="{{ choice.4 }}"> Преподаватель</option>
                                </select>
                                <svg class="u-caret u-caret-svg u-text-black" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" style="fill:currentColor;" xml:space="preserve"><polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
                            </div>
                        </div>
                        <div class="u-form-group u-label-top u-form-group-7">
                            <label for="foto" class="u-label u-label-7">Аватар</label>
                            <input type="file" id="myFile" name="foto" enctype="multipart/form-data">
                        </div>
                        <div class="u-form-group u-label-top u-form-group-8">
                            <label for="password" class="u-label u-label-8">Пароль</label>
                            <input type="password" style="border-radius: 5px;" id="password" name="password" class="u-input u-input-rectangle u-text-black u-white u-input-8">
                        </div>
                        <div class="u-align-center u-form-group u-form-submit u-label-top">
                            <a style="border-radius: 5px;" class="u-active-custom-color-9 u-border-2 u-border-active-custom-color-9 u-border-black u-border-hover-custom-color-10 u-btn u-btn-submit u-button-style u-hover-custom-color-10 u-text-active-white u-text-black u-text-hover-white u-white u-btn-1">Добавить</a>
                            <input type="submit" value="submit" class="u-form-control-hidden">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock %}