{% extends 'dashboard/base.html' %}
{% load static %}
{% block body %}

<link rel="stylesheet" href="{% static 'css/detailquestion.css' %}" media="screen">
    <section class="u-clearfix u-valign-middle u-section-1">
        <div class="u-container-style u-product u-white u-product-1">
            <div class="u-container-layout u-valign-top-sm u-valign-top-xs u-container-layout-1">
                <h2 class="u-product-control u-text u-text-default u-text-1">
                    <a class="u-product-title-link" href="">Тема: {{ object.tema }}</a>
                </h2>
            </div>
        </div>
    </section>

    <section class="u-clearfix u-container-align-center u-custom-color-10 u-section-2">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h3 class="u-custom-font u-text u-text-default u-text-font u-text-white u-text-1">Обращение</h3>
            <p class="u-align-justify-md u-align-justify-sm u-align-justify-xs u-text u-text-white u-text-2">{{ object.message }}</p>
        </div>
    </section>
    
{% endblock %}