<h1 class="u-text u-text-1" style="color: #1c1c1c; font-family: ‘Open Cans’,sans-serif; font-size: 28px; font-weight: 800; line-height: 72px; margin: 0 0 24px; text-align: center; text-transform: uppercase;">
    Здравствуйте, {{ fioA }}!</h1>
    <br><h2 style="color: #1c1c1c; font-family: ‘Open Cans’,sans-serif; font-size: 24px; font-weight: 800; line-height: 36px; margin: 0 0 24px; text-align: center;">
    Мы получили Ваше обращение, и было принято следующее решение:</h2><br>
<p class="u-text u-text-default u-text-2" style="color: #1c1c1c; font-family: ‘Open Cans’,sans-serif; font-size: 18px; font-weight: 500; line-height: 32px; margin: 0 0 24px;">
    {{ answer }}</p>
<a class="u-text u-text-3" style="color: #1c1c1c; font-family: ‘Open Cans’,sans-serif;">
    По всем оставшимся вопросам просьба обращаться в нашу службу поддержки через официальный сайт Электронной библиотеки кафедры Информационных систем и прикладной информатики "РГЭУ (РИНХ)".<br>
    <a style="color: #1c1c1c; text-decoration: underline; font-family: ‘Open Cans’,sans-serif;"><br>С уважением, администрация сайта.</a>
</a>

